[submodule "sequtils"]
	path = sequtils
	url = git@github.com:pengkui/sequtils.git
[submodule "introspect"]
	path = introspect
	url = git@github.com:pengkui/introspect.git
[submodule "containers"]
	path = containers
	url = git@github.com:pengkui/containers.git
[submodule "meta"]
	path = meta
	url = git@github.com:pengkui/meta.git
[submodule "parallel"]
	path = parallel
	url = git@github.com:pengkui/parallel.git
[submodule "cache"]
	path = cache
	url = git@github.com:pengkui/cache.git
