[submodule "sequtils"]
	path = sequtils
	url=ssh://git@bitbucket.org/pluo/poost-sequt.git
[submodule "introspect"]
	path = introspect
	url=ssh://git@bitbucket.org/pluo/poost-introspect.git
[submodule "containers"]
	path = containers
	url=ssh://git@bitbucket.org/pluo/poost-containers.git
[submodule "meta"]
	path = meta
	url=ssh://git@bitbucket.org/pluo/poost-meta.git
[submodule "parallel"]
	path = parallel
	url=ssh://git@bitbucket.org/pluo/poost-parallel.git
[submodule "cache"]
	path = cache
	url=ssh://git@bitbucket.org/pluo/poost-cache.git