[submodule "sequt"]
	path = sequt
	url=git@github.com:pyboost/poost-sequt.git
[submodule "introspect"]
	path = introspect
	url=git@github.com:pyboost/poost-introspect.git
[submodule "containers"]
	path = containers
	url=git@github.com:pyboost/poost-containers.git
[submodule "meta"]
	path = meta
	url=git@github.com:pyboost/poost-meta.git
[submodule "parallel"]
	path = parallel
	url=git@github.com:pyboost/poost-parallel.git
[submodule "cache"]
	path = cache
	url=git@github.com:pyboost/poost-cache.git